.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding:250px 0
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
}

.banner-content {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
