.banner-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .bg-video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .banner-content {
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        top: 40%;
    }
}