.main {
  min-height: calc(100vh - 253px);
}
.page-center {
  max-width: 1850px !important;
  max-width: 1350px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
  float: none !important;
}
/*  */
.routes-container{
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  /* margin-bottom: 20px; */
  /* color: #333; */
  line-height: 1.2;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}

.large{
  font-size: 20px !important;
  line-height: 1.6;
}
.small{
  font-size: 14px;
  line-height: 1.4;
}
p{
  font-size: 18px;
  /* margin-bottom: 15px; */
  color: #e4e2e2;
  line-height: 1.6;
  font-weight: 400;
}

.font-primary,label,input{
  color: #16213e !important;
}



@media (max-width: 991px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 20px;
  }
  .large {
    font-size: 18px !important;
    line-height: 1.6;
}
}

@media (max-width: 640px) {
  .main {
    min-height: calc(100vh - 138px);
  }
}
