.main {
  min-height: calc(100vh - 233px);
}
.page-center {
  max-width: 1850px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
  float: none !important;
}
/*  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.2;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}

.large{
  font-size: 20px !important;
  line-height: 1.6;
}
.small{
  font-size: 14px;
  line-height: 1.4;
}
p{
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .main .page-center {
    padding: 0 !important;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .main {
    min-height: calc(100vh - 138px);
  }
}
